<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="index" href="index.html" />
<link href="css/style.css" type="text/css" rel="stylesheet" />
<title>OCaml API search</title>
</head>
<body>
  <h1><img src="images/logo.png" alt="OCaml API search" /></h1>
  <form action="/" method="GET">
    <p><input name="q" size="45"/> <input type="submit" value="Search" /></p>
  </form>

  <h2>Welcome to OCaml API search</h2>
  <p>
    OCaml API search allows you to search
    many standard O'Caml libraries by either function name, or by
    approximate type signature. It is based on O'Caml Browser.
  </p>
  <p>
    It is similar
    to <a href="http://www.haskell.org/hoogle/">Hoogle</a>, which is a
    Haskell API search engine.
  </p>
  <h2>Example searches</h2>
  <ul class="examples">
    <li><a href="/?q=%28%27a+-%3E+%27b%29+-%3E+%27a+list++-%3E+%27b+list">('a -> 'b) -&gt; 'a list -&gt; 'b list</a></li>
    <li><a href="/?q=string+list+-%3E+string">string list -&gt; string</a></li>
    <li><a href="/?q=concat">concat</a></li>
  </ul>
  <p>Enter your own search at the top of the page.</p>

  <h2>Feedbacks</h2>
  <p>
    Please <a href="http://github.com/mzp/ocaml-hoogle">fork me on GitHub</a>,
    or send message via <a href="http://twitter.com/mzp/">Twitter</a> /
    <a href="mailto:mzp_at_ocaml.jp">mail</a>.
  </p>

  <address><a href="mailto:mzp_at_ocaml.jp">MIZUNO Hiroki</a> &copy; 2010</address>
</body>
</html>
