<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="index" href="index.html" />
<link href="css/style.css" type="text/css" rel="stylesheet" />
<title>::query_html:: - OCaml API search</title>
</head>
<body>
  <div class="search">
    <h1><a href="/"><img src="images/logo.png" alt="OCaml API search" /></a></h1>
    <form action="/" method="GET">
      <input name="q" size="30" value="::query_html_tag::"/>
      <input type="submit" value="Search" />
    </form>
  </div>

  <p class="target">Searching for ::query_html::.</p>

  <table>
::if(found)::
  ::table(result)::
  <tr>
    <td class="where">
      <span class="module"><a href="man/::package_html::/::module_html::.html">::module_html::</a></span><br />
      <span class="package"><a href="man/::package_html::/">::package_html::</a></span>
    </td>
    ::if(is_value)::
    <td class="entry value">
      val <span class="name"><a href="man/::package_html::/::module_html::.html#VAL::name_html::">::name_html::</a></span> ::
      <span class="type">::type_html::</span>
    </td>
    ::end::

    ::if(is_type)::
    <td class="entry type">
      type <span class="name"><a href="man/::package_html::/::module_html::.html#TYPE::name_html::">::name_html::</a></span> =
      ::if(is_abstract)::
      <span class="type abstract">&lt;abst&gt;</span>
      ::else::
      <span class="type concrete">::type_html::</span>
      ::end::
    </td>
    ::end::

    ::if(is_module)::
    <td class="entry module">module <a href="man/::package_html::/::module_html::.html">::name_html::</a></td>
    ::end::

    ::if(is_module_type)::
    <td class="entry module-type">module type <a href="man/::package_html::/::module_html::.html">::name_html::</a></td>
    ::end::

    ::if(is_class)::
    <td class="entry class">class ::name_html::</td>
    ::end::

    ::if(is_class_type)::
    <td class="entry class-type">class type ::name_html::</td>
    ::end::

  </tr>
  ::end::
::else::
  <p>no such result</p>
::end::
  </table>

  <script type="text/javascript"><!--
google_ad_client = "pub-8989402149590911";
google_ad_slot = "2311620786";
google_ad_width = 728;
google_ad_height = 90;
//-->
  </script>
  <script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
  <address><a href="mailto:mzp_at_ocaml.jp">MIZUNO Hiroki</a> &copy; 2010</address>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-4439877-4");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>
</body>
</html>
