<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="index" href="index.html" />
<link href="css/style.css" type="text/css" rel="stylesheet" />
<title>::query_html:: - Coogle</title>
</head>
<body>
  <div class="search">
    <h1><a href="/"><img src="images/logo.gif" alt="Coogle" /></a></h1>
    <form action="/" method="GET">
      <input name="q" size="30" value="::query_html_tag::"/>
      <input type="submit" value="Search" />
    </form>
  </div>

  <p class="target">Searching for ::query_html::.</p>

  <table>
::if(found)::
  ::table(result)::
  <tr>
    <td class="where">
      <span class="module">::module_html::</span><br />
      <span class="package">::package_html::</span>
    </td>
::if(value)::
    <td class="entry value">
      val <span class="name">::name_html::</span> ::
      <span class="type">::type_html::</span>
    </td>
::end::

  </tr>
  ::end::
::else::
  <p>no such result</p>
::end::
  </table>

  <address><a href="mailto:mzp_at_ocaml.jp">MIZUNO Hiroki</a> &copy; 2010</address>
</body>
</html>
