<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="index" href="index.html" />
<!--[if lte IE 6]><link href="css/ie6.css" type="text/css" rel="stylesheet" /><![endif]-->
<link href="css/style.css" type="text/css" rel="stylesheet" />
<title>OCaml-Hoogle</title>
</head>
<body>
  <form action="index.cgi" method="GET">
    <p>OCaml-Hoogle
      <input name="q" size="30" value="::query_html_tag::"/>
      <input type="submit" value="Search" />
    </p>
  </form>
  <table>
  ::table(result)::
  <tr>
    <td>
      <span class="module">::module_html::</span>
      <span class="package">::package_html::</span>
    </td>
    <td>
      <span class="name">::name_html::</span>
      <span class="type">::type_html::</span>
    </td>
  </tr>
  ::end::
  </table>
</body>
</html>
